.template-body
   .row
      h1.pageHeadings Add Cell Phone
   form.addCellphone.input-form
      .row
         .col-md-3
            h2.inputHeadings Invoice number
         .col-md-3
            h2.inputHeadings Purchase Order number
         .col-md-3
            h2.inputHeadings Purchase Cost
         .col-md-3
            h2.inputHeadings Supplier
      .row
         .col-md-3
            input.inputFields(type='text' autocomplete='off' name='invoiceNumber' placeholder='Enter Invoice number')
         .col-md-3
            input.inputFields(type='text' autocomplete='off' name='purchaseOrderNumber' placeholder='Enter Purchase Order number')
         .col-md-3
            input.inputFields(type='number' autocomplete='off' name='costPrice' step='0.01' placeholder='Enter Purchase Cost')
         .col-md-3
            input.inputFields(type='text' autocomplete='off' name='supplier' placeholder='Enter Supplier Name')

      .row
         .col-md-3
            h2.inputHeadings Manufacturer
         .col-md-3
            h2.inputHeadings Model
         .col-md-3
            h2.inputHeadings Purchase Date
         .col-md-3
            h2.inputHeadings Warranty Expiration
      .row
         .col-md-3
            input.inputFields(type='text' autocomplete='off' name='manufacturer' placeholder='Enter Manufacturer Name')
         .col-md-3
            input.inputFields(type='text' autocomplete='off' name='model' placeholder='Enter Cellphone Model')
         .col-md-3
            input.inputFields.point#datepicker1(type='text' name='purchaseDate')
         .col-md-3
            input.inputFields.point#datepicker2(type='text' name='warrantyExpiration')

      .row
         .col-md-3
            h2.inputHeadings Cell Number
         .col-md-3
            h2.inputHeadings User
         .col-md-3
            h2.inputHeadings Location
         .col-md-3
            h2.inputHeadings PIN
      .row
         .col-md-3
            input.inputFields(type='text' autocomplete='off' name='cellNumber' placeholder='Enter Cellphone Number')
         .col-md-3
            input.inputFields(type='text' autocomplete='off' name='cellUser' placeholder='Enter Cellphone User Name')
         .col-md-3
            select.inputFields.point(name='location')
               each locations
                  +location_options
         .col-md-3
            input.inputFields(type='text' autocomplete='off' name='pin' placeholder='Enter PIN')

      .row
         .col-md-3
            h2.inputHeadings PUK
         .col-md-3
            h2.inputHeadings SIM
         .col-md-3
            h2.inputHeadings Description
      .row
         .col-md-3
            input.inputFields(type='text' autocomplete='off' name='puk' placeholder='Enter PUK')
         .col-md-3
            input.inputFields(type='text' autocomplete='off' name='sim' placeholder='Enter SIM Number')
         .col-md-3
            textarea.inputFields(name='desc' placeholder='Enter Description of the Cellphone')

      .row
         hr
         if hasContract
            .col-md-12
               a.contract(href='#' data-toggle='tooltip' title='Cellphone has a contract')
                  i.fa.fa-file
            script.
               $(document).ready(function () {
                  $('[data-toggle="tooltip"]').tooltip();
               });
         else
            .col-md-12
               a.noContract(href='#' data-toggle='tooltip' title='Cellphone has no contract')
                  i.fa.fa-file
            script.
               $(document).ready(function () {
                  $('[data-toggle="tooltip"]').tooltip();
               });

      .row
         .col-md-3.col-md-offset-3
            h2.inputHeadings Contract Start
         .col-md-3
            h2.inputHeadings Contract End
      .row
         .col-md-3.col-md-offset-3
            input.inputFields.point#datepicker3(type='text' name='contractStart')
         .col-md-3
            input.inputFields.point#datepicker4(type='text' name='contractEnd')

      .row.button-row
         hr
         a.backButton(href='{{pathFor "cellphones"}}' data-toggle="tooltip" title="Back to Cellphones")
            i.fa.fa-arrow-left
         button.saveButton(type='input' data-toggle="tooltip" title="Save Cellphone")
            i.fa.fa-floppy-o

script.
   $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
   });