.icon-template
    a.goodIcon(href='{{pathFor "machine.detail"}}' data-toggle="tooltip" title="View Details")
        i.fa.fa-eye
    a.editIcon(href='{{pathFor "machine.edit"}}' data-toggle="tooltip" title="Update")
        i.fa.fa-pencil
    a.positiveIcon(href='{{pathFor "machine.month"}}' data-toggle="tooltip" title="Monthly")
        i.fa.fa-calendar
    a.removeButton.trashIcon(href='#' data-toggle="tooltip" title="Delete")
        i.fa.fa-trash

script.
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });