.template-body
   .row
      h1.pageHeadings Add Vehicle Daily
   form.vehicle-daily-form.input-form
      .row
         h2.assetName(data-toggle='tooltip' title='Licence Plate Number') #{licencePlate}
      .row
         .col-md-3.col-md-offset-1
            h2.inputHeadings Day's Date
         .col-md-3
            h2.inputHeadings Current Odometer Reading
         .col-md-4
            h2.inputHeadings Optional Comment
      .row
         .col-md-3.col-md-offset-1
            input.inputFields.point#datepicker(type="text" name="day")
         .col-md-3
            input.inputFields(type="number" step='0.001' name="odometer" placeholder='Enter Current Odometer Reading')
         .col-md-4
            textarea.inputFields(name="comment" placeholder='Enter an Optional Comment')

      .row.button-row
         hr
         a.backButton(href='#' data-toggle='tooltip' title='Back to Vehicle Dailies')
            i.fa.fa-arrow-left
         button.saveButton(type='input' data-toggle='tooltip' title='Save Vehicle Daily')
            i.fa.fa-floppy-o

script.
   $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
   });