.template-body
   if hasLocations
      h1.pageHeadings Computers
      .row
         a.table-add-button(href='{{pathFor "computer.create"}}' data-toggle="tooltip" title="Add Computer")
            i.fa.fa-plus
         a.table-category-button-1(href='{{pathFor "computer.usefulLife"}}' data-toggle="tooltip" title="Change Useful Life")
            i.fa.fa-line-chart
      .row
         |   {{> tabular table=TabularTables.Computers selector=selector class="table-bordered"}}
   else
      h1 No Location Saved
      .col-md-8.col-md-offset-2
         h3 You cannot store assets if you don't have at least one location to tie the asset to. Please create a location first
      .col-md-2.col-md-offset-5
         a(href='{{pathFor "locations"}}')
            button.inputButtons Locations