.icon-template
    a.removeButton.trashIcon(href='#' data-toggle="tooltip" title="Delete")
        i.fa.fa-trash

script.
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });