.template-body
   .row
      h1.pageHeadings Manufacturing Building Life
   form.input-form
      .row
         .col-md-3.col-md-offset-3
            h2.inputHeadings Useful Life
         .col-md-5
            h2.inputHeadings Useful Life in Years - #{usefulLife}
      .row
         .col-md-3.col-md-offset-3
            input.inputFields(type="number" autocomplete="off" name="lifeValue" step='1' placeholder='Enter New Useful Life' value='#{usefulLife}')
         .col-md-5
            h2.inputHeadings Annual Depreciation - #{depcap}%

      .row.button-row
         hr
         a.backButton(href='{{pathFor "buildings"}}' data-toggle="tooltip" title="Back to Buildings")
            i.fa.fa-arrow-left
         button.saveButton(type='submit' data-toggle="tooltip" title="Update Useful Life")
            i.fa.fa-floppy-o

script.
   $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
   });