.template-body
   .row
      h1.pageHeadings Tutorial
   .row
      .col-md-8.col-md-offset-2.tutorial-text-block
         h3 Welcome to AM
         p AM is a comprehensive, integrated online asset management system, simplifying the process of storing, recording and ultimately managing all of your assets.
         p Constantly under development to be further improved and refined, AM aims to cater to all of your organisation's asset management needs, from simplicity in recording your assets, to comprehensive reports that provides anything from a simple overview of your business's assets to a detailed report of each asset type
         p AM is powerful, but very easy to use nevertheless, as you will hopefully soon discover