.template-body
   .row
      h1.pageHeadings Add Vehicle
   form.addVehicle.input-form
      .row
         .col-md-3
            h2.inputHeadings Invoice Number
         .col-md-3
            h2.inputHeadings Purchase Order Number
         .col-md-3
            h2.inputHeadings Purchase Date
         .col-md-3
            h2.inputHeadings Purchase Cost
      .row
         .col-md-3
            input.inputFields(type='text' autocomplete='off' name='invoiceNumber' placeholder='Enter Invoice Number')
         .col-md-3
            input.inputFields(type='text' autocomplete='off' name='purchaseOrderNumber' placeholder='Enter Purchase Order Number')
         .col-md-3
            input.inputFields.point#datepicker1(type='text' name='purchaseDate')
         .col-md-3
            input.inputFields(type='number' autocomplete='off' name='costPrice' step='0.01' placeholder='Enter Purchase Cost')
      .row
         .col-md-3
            h2.inputHeadings Supplier
         .col-md-3
            h2.inputHeadings Manufacturer
         .col-md-3
            h2.inputHeadings Model
         .col-md-3
            h2.inputHeadings Licence Plate Number
      .row
         .col-md-3
            input.inputFields(type='text' autocomplete='off' name='supplier' placeholder='Enter Supplier Name')
         .col-md-3
            input.inputFields(type='text' autocomplete='off' name='manufacturer' placeholder='Enter Manufacturer Name')
         .col-md-3
            input.inputFields(type='text' autocomplete='off' name='model' placeholder='Enter Vehicle Model')
         .col-md-3
            input.inputFields(type='text' autocomplete='off' name='licencePlate' placeholder='Enter Licence Plate Name')
      .row
         .col-md-3
            h2.inputHeadings Vehicle Identification Number
         .col-md-3
            h2.inputHeadings Engine Identification Number
         .col-md-3
            h2.inputHeadings Warranty Expiration Date
         .col-md-3
            h2.inputHeadings Odometer Reading
      .row
         .col-md-3
            input.inputFields(type='text' autocomplete='off' name='vin' placeholder='Enter Vehicle Identification Number')
         .col-md-3
            input.inputFields(type='text' autocomplete='off' name='engineNumber' placeholder='Enter Engine Identification Number')
         .col-md-3
            input.inputFields.point#datepicker2(type='text' name='warrantyExpiration')
         .col-md-3
            input.inputFields(type='number' step='0.01' name='odometer' placeholder='Enter Vehicle Odometer Reading')
      .row
         .col-md-3
            h2.inputHeadings Category
         .col-md-3
            h2.inputHeadings Location
         .col-md-3
            h2.inputHeadings Description
      .row
         .col-md-3
            select.inputFields.point(name='category')
               each categories
                  option(value='#{_id}') #{name}
         .col-md-3
            select.inputFields.point(name='location')
               each locations
                  +location_options
         .col-md-3
            textarea.inputFields(name='desc' placeholder='Enter Vehicle Description')

      .row.button-row
         hr
         a.backButton(href='{{pathFor "vehicles"}}' data-toggle='tooltip' title='Back to Vehicles')
            i.fa.fa-arrow-left
         button.saveButton(type='input' data-toggle='tooltip' title='Save Vehicle')
            i.fa.fa-floppy-o

script.
   $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
   });