@media(max-width: 1768px)
  .table-add-button
    margin-left -575px
    margin-top -2px
  .table-add-button:hover
    margin-top -3px
  .table-add-button:active
    margin-top -2px
  .table-category-button-1
    margin-left -535px
    margin-top 0px

  .table-add-button-1
    margin-left -540px
  .table-category-button
    margin-left -580px
  .table-back-button-1
    margin-left -580px
  .table-category-button-2
    margin-left -500px
    margin-top 1px
  .table-category-button-2:hover
    margin-top 0px

  .table-add-button-2
    margin-left -385px
    margin-top -5px
  .table-add-button-2:hover
    margin-top -6px
  .table-add-button-2:active
    margin-top -5px
  .table-back-button-2
    margin-left -425px
    margin-top -5px
  .table-back-button-2:hover
    margin-top -6px
  .table-back-button-2:active
    margin-top -5px

  .checkInput
    position relative
    top -10px

@media(max-width: 1680px)
  .table-add-button
    margin-left -535px
  .table-category-button-1
    margin-left -495px

  .table-add-button-1
    margin-left -500px
  .table-category-button
    margin-left -540px
  .table-back-button-1
    margin-left -540px
  .table-category-button-2
    margin-left -455px

  .table-add-button-2
    margin-left -350px
  .table-back-button-2
    margin-left -390px

  .inputHeadings
    font-size 20px
  .inputFields
    font-size 18px

  .detailHeading
    font-size 20px
  .detailBody
    font-size 18px

@media(max-width: 1600px)
  .table-add-button
    margin-left -500px
    margin-top -4px
  .table-add-button:hover
    margin-top -5px
  .table-add-button:active
    margin-top -4px
  .table-category-button-1
    margin-left -460px
    margin-top -2px
  .table-category-button-1:hover
    margin-top -3px
  .table-category-button-1:active
    margin-top -2px

  .table-add-button-1
    margin-left -470px
  .table-category-button
    margin-left -510px
  .table-back-button-1
    margin-left -510px
  .table-category-button-2
    margin-left -425px

  .table-add-button-2
    margin-left -325px
  .table-back-button-2
    margin-left -365px

@media(max-width: 1440px)
  .pageHeadings
    margin-bottom 0

  .table-add-button
    font-size 25px
    margin-left -430px
    margin-top 2px
  .table-add-button:hover
    margin-top 1px
  .table-add-button:active
    margin-top 2px
  .table-category-button-1
    font-size 25px
    margin-left -395px
    margin-top 0px
  .table-category-button-1:hover
    margin-top -1px
  .table-category-button-1:active
    margin-top 0px

  .table-add-button-1
    font-size 25px
    margin-left -390px
    padding 2px 5px
  .table-category-button
    font-size 25px
    margin-left -430px
  .table-back-button-1
    font-size 25px
    margin-left -430px
  .table-category-button-2
    font-size 25px
    margin-left -350px
    margin-top 1px
  .table-category-button-2:hover
    margin-top 0px

  .table-add-button-2
    font-size 28px
    margin-left -270px
    margin-top -1px
  .table-add-button-2:hover
    margin-top -2px
  .table-add-button-2:active
    margin-top -1px
  .table-back-button-2
    font-size 25px
    margin-left -305px
    margin-top 0px
  .table-back-button-2:hover
    margin-top -1px
  .table-back-button-2:active
    margin-top 0px

  .table-bordered th
    font-size 18px
  .table-bordered td
    font-size 16px

  div .dataTables_length
    font-size 20px
  div .dataTables_filter
    font-size 20px

  .detail-div th
    font-size 18px
  .detail-div td
    font-size 16px

@media(max-width: 1366px)
  .table-add-button
    margin-left -395px
  .table-category-button-1
    margin-left -360px

  .table-add-button-1
    margin-left -360px
  .table-category-button
    margin-left -390px
  .table-back-button-1
    margin-left -390px
  .table-category-button-2
    margin-left -325px

  .table-add-button-2
    margin-left -240px
  .table-back-button-2
    margin-left -275px

  .navbar-brand
    font-size 25px
  .navbar li a
    font-size 18px
  .pageHeadings
    font-size 30px
  .assetName
    font-size 20px

  .icon-template a
    font-size 20px
    margin-right 10px

@media(max-width: 1280px)
  .table-add-button
    margin-left -355px
  .table-category-button-1
    margin-left -320px

  .inputHeadings
    margin-left 10px

  .table-add-button-1
    margin-left -325px
  .table-category-button
    margin-left -360px
  .table-back-button-1
    margin-left -360px
  .table-category-button-2
    margin-left -285px

  .table-add-button-2
    margin-left -210px
  .table-back-button-2
    margin-left -245px

  .inputFields
    font-size 16px
    width 100%

  .detailHeading
    font-size 16px
  .detailBody
    font-size 14px

@media(max-width: 1152px)
  .table-add-button
    margin-left -300px
  .table-category-button-1
    margin-left -265px

  .table-add-button-1
    margin-left -265px
  .table-category-button
    margin-left -300px
  .table-back-button-1
    margin-left -300px
  .table-category-button-2
    margin-left -230px

  .table-add-button-2
    margin-left -160px
  .table-back-button-2
    margin-left -195px

  .icon-template a
    font-size 16px
    margin-right 5px

@media(max-width: 1024px)
  .table-add-button
    margin-left -240px
    margin-top 0px
  .table-add-button:hover
    margin-top -1px
  .table-add-button:active
    margin-top 0px
  .table-category-button-1
    margin-left -205px
    margin-top -2px
  .table-category-button-1:hover
    margin-top -3px
  .table-category-button-1:active
    margin-top -2px

  .table-add-button-1
    margin-left -210px
  .table-category-button
    margin-left -245px
  .table-back-button-1
    margin-left -245px
  .table-category-button-2
    margin-left -175px

  .table-add-button-2
    margin-left -110px
  .table-back-button-2
    margin-left -145px

  .table-bordered th
    font-size 16px
  .table-bordered td
    font-size 14px

  .inputHeadings
    font-size 18px
  .inputFields
    font-size 16px

  .detailHeading
    font-size 14px
  .detailBody
    font-size 12px