.icon-template
    a.editIcon(href='{{pathFor "vehicle.category.edit"}}' data-toggle="tooltip" title="Update")
        i.fa.fa-pencil

script.
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });